body {
    background: #114357;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F29492, #114357);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F29492, #114357); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 1500px;
}


/* CARDS CON IMÁGENES */
.second-section {
    display: flex;
    flex-direction: row;
    margin: 15px;
    overflow: hidden;
}

.card {
    margin-left: 2%;
}

.card-img-top {
    width: auto;
    height: 200px;
    object-fit: cover;
}

/* CARD */
.thrid-section .card {
    margin-top: 10%;
    margin-left: 10%;
}

/* ASIDE */
aside {
    float: right;
    margin: -42% 15%;
}

aside .card {
    margin-bottom: -7%;
    background-color: rgb(223, 223, 223);
}

/* TABLA */
.fifth-section div {
    background-color: beige;
    margin: auto;
}

/* FOOTER */
footer {
    color: white;
    background-color: black;
    height: 50px;
    text-align: center;
}