body {
    background: #114357;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F29492, #114357);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F29492, #114357); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* NAVBAR */
nav {
    background-color: rgb(41, 41, 41);
    height: 10vh;
}

/* ÍTEMS DEL NAVBAR */
.nav-link {
    margin-top: 2vh;
    color: white;
}

.nav-link:hover {
    color: rgb(160, 160, 160);
}

/* ALERT */
.alert {
    margin: 2% 20% ; 
}